In [17]:
import pandas as pd 
import numpy as np

## Importing Dataset

In [18]:
features = ['B','G', 'R', 'Y']

# Read the tab-separated file
Skin_noSkin_df = pd.read_csv('/Users/darylwanji/Desktop/Brainstation/3-Machine Learning Techniques/Capstone Skin Segmentation/data/Skin_NonSkin.txt', delimiter='\t', names=features)
Skin_noSkin_df

          B    G    R  Y
0        74   85  123  1
1        73   84  122  1
2        72   83  121  1
3        70   81  119  1
4        70   81  119  1
...     ...  ...  ... ..
245052  163  162  112  2
245053  163  162  112  2
245054  163  162  112  2
245055  163  162  112  2
245056  255  255  255  2

[245057 rows x 4 columns]

## Data Exploration

In [19]:
Skin_noSkin_df.shape

(245057, 4)

> Dataset has 245057 observations

In [20]:
Skin_noSkin_df.describe()

                   B              G              R              Y
count  245057.000000  245057.000000  245057.000000  245057.000000
mean      125.065446     132.507327     123.177151       1.792461
std        62.255653      59.941197      72.562165       0.405546
min         0.000000       0.000000       0.000000       1.000000
25%        68.000000      87.000000      70.000000       2.000000
50%       139.000000     153.000000     128.000000       2.000000
75%       176.000000     177.000000     164.000000       2.000000
max       255.000000     255.000000     255.000000       2.000000

As expected, RGB has a range of 0-255 and Y is Binary. Either 1 0R 2

## Check for null values

In [21]:
Skin_noSkin_df.isna().sum()

B    0
G    0
R    0
Y    0
dtype: int64

> There seem to be no Null values. As of now, Data looks clean

In [22]:
Skin_noSkin_df

          B    G    R  Y
0        74   85  123  1
1        73   84  122  1
2        72   83  121  1
3        70   81  119  1
4        70   81  119  1
...     ...  ...  ... ..
245052  163  162  112  2
245053  163  162  112  2
245054  163  162  112  2
245055  163  162  112  2
245056  255  255  255  2

[245057 rows x 4 columns]

> Replacing All `1`s with `0`s and `2`s with `1`s for better readability in binary classification

In [23]:
# Replace all 1s with 0 and all 2s with 1 in column 'Y'

Skin_noSkin_df['Y'] = Skin_noSkin_df['Y'].replace({1: 0, 2: 1})
Skin_noSkin_df

          B    G    R  Y
0        74   85  123  0
1        73   84  122  0
2        72   83  121  0
3        70   81  119  0
4        70   81  119  0
...     ...  ...  ... ..
245052  163  162  112  1
245053  163  162  112  1
245054  163  162  112  1
245055  163  162  112  1
245056  255  255  255  1

[245057 rows x 4 columns]

In [24]:
Skin_noSkin_df.nunique().sort_values()

Y      2
B    256
G    256
R    256
dtype: int64

`RGB` - Range `0 - 255`

`Y` - Either `0` or `1`

In [25]:
Skin_noSkin_df.to_csv('/Users/darylwanji/Desktop/Brainstation/3-Machine Learning Techniques/Capstone Skin Segmentation/data/Skin_NoSkin_clean.csv', index=False)